* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 768px;
    background: url("../img/bg/bg.png") center center / cover no-repeat;
    padding: 41px 0 30px 0px;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

h1 {
    margin-top: 317px;
}

.title {
    font-family: serif;
    font-size: 60px;
    line-height: 70px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}

h2.promo_text  {
    margin-top: 0px;
}

.simple {
    font-family: serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.menu {
    display: flex;
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px #9BA09E;
    justify-content: space-around;
    
}

.logo_menu {
    flex: none;
    padding-top: 23px;
    margin-right: 451px;
}

.nav  {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;  
}

a .Konst {
    color: #16ACE8;
    text-decoration: none;
}

.nav a {
    color: #48555B;
    padding: 2px ;
}

.about {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    /* width: 100%; */
}

.story_info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.title_story {
    display: flex;
    justify-content: center;
    padding-top: 67px;
    color: #48555B;
    text-transform: uppercase;   
}

.line {
    border-bottom: 2px solid #00A4E5;
}

.info_text {
    color: #48555B;
    font-weight: 900;
    font-size: 26px;
    line-height: 27px;
    margin-top: 53px;
    margin-right: 70px;
}

.story_descr {
    color: #48555B;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 35px;
}

.history {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 69px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-top: 153px;
}



.images .c1 {
    padding-left: 15px;
    
}
.images  .c2 {
    padding-left: 15px;
}

.images  .c3 {
    padding-left: 15px;
}

.line {
    margin: 0 auto;
    margin-top: 10px;
    width: 50px;
    border-bottom:2px solid #00A4E5;
    box-shadow: 0px 5px 5px 0px #9BA09E;
    
}

.button a {
    display: inline-block;
    background: #00A4E5;
    color: #fff;
    padding: 14px;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }

.line_descr {
    margin-top: 10px;
    width: 50px;
    border-bottom:2px solid #00A4E5;
    box-shadow: 0px 5px 5px 0px #9BA09E;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
    align-items: center;
}

.heading {
    font-size: 19px;
    font-weight: 700;
    color: #48555B;
}

.watching_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: 26px;
    width: 100%;
}

.watching_item  {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 5px 5px 0px #9BA09E;
    margin-top: 80px;
    padding-left: 20px;
    width: 305px;
    height: 330px;
    align-items: baseline;
    
}

.watching_img {
    margin-top: 39px;
    margin-left: 13px;
}
.watching_name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 13px;
    line-height: 24px;
    color: #48555B;
}

.watching_descr {
    margin-top: 13px;
    margin-left: 13px;
    line-height: 23px;
    font-size: 13px;
    font-weight: 400;
    color:#48555B;
}

.finish {
    width: 100%;
    height: 504px;
    background: url("/src/img/bg/bg2.png") center center / cover no-repeat;
    padding: 115px 0px 234px 0px;
   
}

.final {
    margin: 0 auto;
    text-align: center;
}

.final_title {
    font-family: 'Open Sans'; 
    margin-top: 125px;
    font-size: 40px;
    font-weight: bold;
    color: #48555B;
    line-height: 36px;
}

.final .button_final a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    background: #00A4E5;
    color: #fff;
    height: 40px;
    width: 150px;
    align-items: center;
    font-family: Tahoma;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 234px;
}

.news {
    background-color: #171819;
    height: 100px;
}

.newsletter {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 35px;
    

}
.newsletter_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    font-family: "Open Sans";
    color: #fff;
    padding-top: 10px;
    margin-left: 200px;
}

.send_button a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: #00A4E5;
    color: #fff;
    height: 44px;
    width: 150px;
    align-items: center;
    font-family: Tahoma;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}

.mail {
    
    display: flex;
    
}
.area input {
    height: 44px;
    width: 250px;
    border: 2px solid #00A4E5 ;
    font-size: 14px;
    text-align: start;
    padding-left: 10px;
    
    
}

.information {
    background-color:#141A20;
    height: 244px;
}

.other {
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding-top: 45px;
    
}

.company h3 {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    
}

.logo_final {
    padding-top: 19px;
}

.text_final {
    color: #fff;
    padding-top: 15px;
    font-size: 14px;
}

.links {
    display: flex;
    justify-content: space-between;

}

li  {
    list-style: none;
}

.link a{
    color: #fff;
}

.link ul li  {
    padding-top: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.link_title {
    color: #fff;
    font-size: 11px;
    line-height: 22px;
}
.faq{
    margin-top: 60px;
}
.faq ul li  {
    padding-top: 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.faq a {
    color: #fff;
}
.title_faq {
    color: #fff;
    font-size: 11px;

}

.title_blog {
    color: #fff;
    font-size: 11px;
}

.blog {
    margin-top: 60px;
    padding-right: 100px;
}
.blog ul li {
    padding-top: 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.blog a {
    color: #fff;
}

.title_contacts {
    color: #fff;
}

.contacts_info {
    padding-top: 10px;
    color: #fff;
    font-size: 12px;
}

.contact_tel {
    padding-top: 10px;
    color: #fff;
}

.contact_mail {
    color: #fff;
    padding-top: 10px;
}

.social {
    display: flex;
    
    margin-top: 30px;
}

.icons {
    justify-content: space-between;
    
}

.icons .fb {
    padding-left: 5px;
}

.icons .tw {
    padding-left: 5px;
}

.icons .goo {
    padding-left: 5px;
}



.last {
    height: 60px;
    background-color:#171819;
    
}

.footer_text {
   padding-top: 22px;
   margin-left: 385px;
   color:#fff;
}
